<template>
    <div class="container w-90 mx-auto mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2>Войдите в свою <br> учетную запись </h2>
                <form>
                    <label>номер телефона</label><br>
                    <input type="text" name="" class="kok" ><br>
                    <label>Parol</label><br>
                    <input type="text" name="" class="kok"><br>
                    <label ></label> <br>
                   <input class="kirish" type="submit" value="Войти в систему">
                </form>
            </div>
            <div class="col-md-6">
                <img src="../img/logo.jpg" width="100%" height="400px">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:'Login'
}
</script>

<style >
.kirish {
    padding: 5px 20px;
    background-color:rgb(10, 44, 76) ;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}
.kok:hover {
    border: 2px solid rgb(10, 44, 76);
}
    
</style>