<template>
    <div class="container w-90 mx-auto my-5 ">
        <div class="row">
            
            <div class="col-md-2 leftside  text-center pr-8 ">
                <div class="w-80 mx-auto bg-lightblue">
                    <i class="fa-solid fa-mobile fa-2x  pt-2"></i>
                    <p class="parag">POS</p>
                </div>
                <div>
                    <i class="fa-solid fa-gear fa-2x"></i>
                    <p class="parag">Настройки</p>
                </div>
                <div class=" clear">
                    <i class="fa-solid fa-user-tie fa-2x"></i>
                    <p class="parag">Блокировка</p>
                </div>
                <div>
                   <i class="fa-solid fa-arrow-trend-up fa-2x"></i>
                    <p class="parag">Свернуть</p>
                </div>
                <div class="pastki">
                   <button class="border-1"> <i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i></button><br>
                    <button><p class="mb-2">Выход</p></button>
                </div>
            </div>
            <div class="col-md-6" id="back">
                <div class="row">
                    <div class="col-md-8 mt-2">
                       <span class="pl-2"><input type="text" class="form-control control" placeholder=" поиск продукт"></span>
                     <i class="fa-solid fa-magnifying-glass relative"></i>

                    </div>
                    <div class="col-md-4 fast mt-2">
                        <button><span>Быстрые продукты</span></button>
                    </div>
                </div>
                <ul class="categories">
                    <li>название</li>
                    <li>цена</li>
                    <li>кол-вo</li>
                    <li>итого</li>
                </ul>
                   <ul class="list-group pb-2">
                         <li class="list-group-item list-group-item-secondary"><p></p></li>
                         <li class="list-group-item list-group-item-light"><p></p></li>
                         <li class="list-group-item list-group-item-secondary"><p></p></li>
                         <li class="list-group-item list-group-item-light"><p></p></li>
                         <li class="list-group-item list-group-item-secondary"><p></p></li>
                         <li class="list-group-item list-group-item-light"><p></p></li>
                         <li class="list-group-item list-group-item-secondary"><p></p></li>
                         <li class="list-group-item list-group-item-light"><p></p></li>
                         <li class="list-group-item list-group-item-secondary"><p></p></li>
                         <li class="list-group-item list-group-item-light"><p></p></li>
                         <li class="list-group-item list-group-item-secondary"><p></p></li>
                         <li class="list-group-item list-group-item-light"><p></p></li>
                         <li class="list-group-item list-group-item-secondary"><p></p></li>
                          <li class="list-group-item list-group-item-light"><p></p></li> 

                            
                            
                            </ul>

            </div>
            <div class="col-md-4 top"  id="back">

                <div>
                    <div class="flex ">
                        <h5 class="text">Номер чека 77157</h5>
                    </div>
                    <div class="flex bottom">
                        <b>Итого</b> 
                        <span>0</span>
                        
                    </div>
                    <div class="flex">
                        <p>Получено</p> 
                        <span >0</span>
                    </div>
                    <div class="flex">
                        <p>Сдача</p>
                        <span>0</span>
                    </div>
                </div>
                    
                <div class="calculator">
                    <div class="display">{{current || '0'}}</div>
                    <div @click="clear" class="btn">C</div>
                    <div @click="sign" class="btn">+/-</div>
                    <div @click="percent" class="btn">%</div>
                    <div @click="divide" class="btn operator">/</div>
                    <div @click="append('7')" class="btn">7</div>
                    <div @click="append('8')" class="btn">8</div>
                    <div @click="append('9')" class="btn">9</div>
                    <div @click="times"  class="btn operator">*</div>
                    <div @click="append('4')" class="btn">4</div>
                    <div @click="append('5')" class="btn">5</div>
                    <div @click="append('6')" class="btn">6</div>
                    <div @click="minus"  class="btn operator">-</div>
                    <div @click="append('1')" class="btn">1</div>
                    <div @click="append('2')" class="btn">2</div>
                    <div @click="append('3')" class="btn">3</div>
                    <div @click="add"  class="btn operator">+</div>
                    <div @click="append('0')" class="btn zero" >0</div>
                    <div @click="dot" class="btn">.</div>
                    <div @click="equal" class="btn operator">=</div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    // name:'Main'
    data() {
        return {
            previous: null,
            current: '',
            operator: null,
            operatorClicked: false,
        }
    },
    methods: {
        clear() {
            this.current= '';
        },
        sign(){
            this.current = this.current.charAt(0)=== '-' ? 
            this.current.slice(1): `-${this.current}`;
        },
        percent(){
            this.current= `${parseFloat(this.current) / 100}`;
        },
        append(number){
            if (this.operatorClicked) {
                this.current = '';
                this.operatorClicked = false;
            }
            this.current = `${this.current}${number}`;
        },
        dot() {
            if (this.current.indexOf('.')=== -1) {
                this.append('.');
            }
        },
        setPrevious(){
            this.previous = this.current;
            this.operatorClicked = true;
        },
        divide(){
            this.operator = (a,b)=> a / b;
            this.setPrevious();
        },
        times(){
            this.operator = (a,b)=> a * b;
            this.setPrevious();
        },
        minus(){
            this.operator = (a,b)=> a - b;
            this.setPrevious();
        },
        add(){
            this.operator = (a,b)=> a + b;
            this.setPrevious();
        },
        equal(){
            this.current= `${this.operator(
                parseFloat(this.current),
                parseFloat( this.previous)
            )}`;
            this.previous = null;
        }
    }

}
</script>

<style scoped >
    .container {
        min-height: 80vh;
        border: 10px;
    }
    .leftside {
        background-color: rgb(10, 44, 76);
    }
    .fa-solid {
        color: rgb(87, 97, 218);
    }
    .control {
        padding: 5px 30px;
    }
    .parag {
        color: rgb(87, 97, 218) ;
        font-size: 20px;
    }
    .clear {
        padding-top: 10rem;
    }
    .pastki button  {
        background:rgb(10, 44, 76);
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .pastki button p {
        color: rgb(87, 97, 218);
        margin: 0;
        padding: 0 2px;
    }
    .pastki button:hover {
        background-color: #fff;
        color: #000;
    }
    #back {
        background-color: rgba(192, 202, 210, 0.785);
    }
    .relative {
        position: relative;
        top: -30px;
        right: -5px;
    }
    .fast button {
        border: 2px solid rgb(87, 97, 218);
        padding: 6px 4px;
        font-size: 13px;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .categories {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        background-color: rgb(241, 233, 233);
        border-radius: 5px;
    }
    .categories li {
        list-style-type: none;
        padding: 5px 10px; 
    }
    .top {
        padding-top: 60px;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        padding: 4px 10px;

    }
    .flex h5 {
        padding: 0 50px;
    }
    .flex p {
        margin: 0;
    }
   .bottom b span {
        border-bottom: 1px solid #000;
    }

    .calculator {
        font-size: 40px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(50px auto);
    }
    .display {
        grid-column: 1/5;
        background-color: #999;
        text-align: end;
        padding-right: 4px;
    }
    .zero {
        grid-column: 1 / 3;
    }
    .btn {
        background-color: #eee;
        border: 1px solid #999;
    }
    .operator {
        background-color: orange;
        color: #fff;
    }

</style>