<template>
  <div class="container">
   <Login/>
   <Main />
    
  </div>
</template>

<script>
import Login from "../components/Login";
import Main from "../components/Main";
import Collection from "../src/Collection.json";
export default {
  // name:"App",
  data() {
    return{
      data: Collection
    }
  },
  components: {
    Login,
    Main
  },
}
</script>
<style >
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
</style>